*{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    background:#ccc;
}
header{
    width:60%;
    background:#73918b;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
header h1{
    font-size:40px;
}
header h5{
    font-size: 25px;
}
header h6{
    font-size: 20px;
    font-weight: 400;
    line-height:30px;
}
section{
    width:60%;
    padding:20px 50px;
    background: white;
}
.title{
    width:100%;
    border-bottom:1px solid #73918b;
    min-width:600px;
    color:#73918b;
    font-size: 20px;
    font-weight: 800;
    padding-bottom:5px;
    position: relative;
}
.title>span{
    position: absolute;
    margin-top: 6px;
    margin-left:10px;
}
section>p{
    padding-top:10px;
}
section>h2{
    padding:10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#73918b;
}
section>.text{
    text-indent: 30px;
    line-height: 25px;
}
section>ul{
    padding-bottom:20px;
}
section>.end{
    margin-top:30px;
}
@media screen and (max-width:1250px){
    header{
        width:100%;
    }
    section{
        width:100%;
    }
}
